.idea/
*.pyc
__pycache__
*.swp
.nfs*
*.sqlite
*.touch

.snakemake

SRR4204500_*.fastq
SRR4204500_*.fa
SRR4204500_*_stats.txt

/nf_training_in_snakemake/data
/nf_training_in_snakemake/nf_training_data
